.target-holder {
    width: 2.9rem;
    height: 2.9rem;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin: .6rem;
    opacity: .9;
    position: relative;
}

.target-holder:hover {
    opacity: 1;
}

.target {
    font-size: 126%;
    position: inherit;
    top: 23%;
    text-align: center;
}

.black {
    background-color: #21211d;
    color: #f5f17f;
    border: 2px solid #bd0f0f;
}

.yellow {
    background-color: #f5f17f;
    color: #21211d;
    border: 2px solid #0c7009;
}

.red {
    background-color: #bd0f0f;
    color: #0c7009;
}