.target-holder {
    width: 20px;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.green {
    background-color: green;
}

.white {
    background-color: #ffffff;
}