.home-page {
    margin-top: 15rem;
    text-align: center;
}

.home-title {
    font-size: 380%;
    font-family: 'Zen Tokyo Zoo', cursive;
}

.action-buttons {
    margin-top: 2rem;
}

.home-action-buttons {
    margin: 1rem;
    width: 9rem;
    height: 3rem;
    font-size: 120%;
    letter-spacing: .1rem;
    background-color: #ff9a8d;
    border: 1px solid #4a536b;
    color: #4a536b;
}

.home-action-buttons:hover {
    background-color: #4a536b;
    color: #ff9a8d;
    border: 1px solid #ff9a8d;
}