@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

.home-page {
    margin-top: 15rem;
    text-align: center;
}

.home-title {
    font-size: 380%;
    font-family: 'Zen Tokyo Zoo', cursive !important;
}

.action-buttons {
    margin-top: 2rem;
}