.game-details-div {
    text-align: center;
    margin-top: 5%;
}

.the-average-square {
    width: 3.6rem;
    height: 3.6rem;
    background-color: #4a536b;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 2.5rem;
    border: 2px solid #000000;
    text-align: center;
    position: relative;
}

.the-average-span {
    font-weight: 400;
    font-size: 205%;
    position: inherit;
    top: 14%;
}

.finish {
    margin-top: 1.6rem;
    text-align: center;
}

.the-heighest-array {
    text-align: center;
    margin-top: 2rem;
}

.eachHeighestResult {
    margin: 1rem;
    padding: .1rem .49rem;
    background-color: #4a536b;
    font-size: 140%;
    font-weight: 700;
    color: #ffffff;
    border: 1px solid #000000;
}

.red {
    background-color: red;
}